# Virtual Environment
venv/
.venv/
env/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env

# Compiled files
*.pyc
*.pyo
*.pyd

# Dependency directories
node_modules/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Miscellaneous
.DS_Store
Thumbs.db
